<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{titulo}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{mensaje}}
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" (click)="aceptar()">Aceptar</button>
    <button class="btn btn-secondary" (click)="cancelar()">Cancelar</button>
  </div>
</div>
