<nav class="navLocation" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Reprocesos</li>
    <li class="breadcrumb-item active" aria-current="page">Log Ejecución</li>
  </ol>
</nav>
<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <span class="texto-santander" style="top:10px; position: relative;"><span class="oi oi-plus"></span>&nbsp;<strong>Log de Ejecición de las ETL</strong></span>
        </div>
        <div class="col">
          <div class="text-right">
            <button class="btn btn-primary" [routerLink]="['/logETL']">Ver</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
